.body_wrapper {
	padding:20px;
	.composition {
		.composition_heading {
			font-family: "Source Sans Pro", arial, helvetica, sans-serif;
		    font-size: 16px;
		    color: #222;
		    background: #ecf2f4;
		    padding: 7px 10px;
		    margin: 7px 0;
		    h4{
		    	font-weight: normal;
		    }
		}
		.composition_info {
			p{
				padding: 10px 0 0;
    			color: #666666;
    			font-size: 13px;
    			line-height: 1.5;
    			font-weight: 300;
    			margin-bottom: 20px;
			}

		}
		.composition_image {
			height: 300px;
			position: relative;
			min-height: 300px;
			.composition_canvasLines {
				position: absolute;
				top: 0;
				left: 0;
				height: 300px;
				width: 300px;
			}
			.composition_imageLink{
					position: absolute;
					height: 13px;
					width: 13px;
					border-radius: 50%;
					background: url("../Images/dot.svg") no-repeat center center;
			}
			.lable_list{
				   position: absolute;
				   top: 31px;
    			   left: 298px;
				}
			.lable_listItem{
			   list-style-type: none;  
			   height: 18px;
			   width: 18px;
			   border-radius: 50%;
			   border: 1px solid #999999 ;
			   color: #999999 ;
			   margin-bottom: 18px;
			   text-align: center;
			   font-size: 13px;
			   .list_link{
			   	text-align: center;
			   }
			}
			.lable_listItem:hover{
			   background-color: #808080 ;
			   color: #fff;
			}
		}
	}
}